<h1> All Songs </h1>

<% if false %>
<% song.each do |song| %>

    <%= song.title %>
    <%= song.artist_name %>
    <%= song.genre %>
    <%= song.release_year %>
    
<% end %>
<% end %>